/* ------------------------------------------------------------------------------------------------------------------------------------------------ */

/* INICIO GALERIA */
/* estilos section galeria */
#galeria-grilla{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    padding: 20px;
    grid-gap: 10px;
}

.imagenGaleria{
    @include sizes(100%, 100%);
    object-fit: cover;
}

.itemGaleria{
    &:nth-child(4){
        @include grid-column-row-start(2, 2);
    }

    &:nth-child(8){
        @include grid-column-row-start(2, 2);
    }

    &:nth-child(10){
        @include grid-column-row-start(2, 0);
    }

    &:nth-child(11){
        @include grid-column-row-start(2, 0);
    }

    &:nth-child(12){
        @include grid-column-row-start(2, 0);
    }
}

/* queries section galeria */
@media screen and (max-width: $pantalla-xl){
    #galeria-grilla{
        grid-template-columns: repeat(2, 1fr);

        &:nth-child(2){
            @include grid-column-row-start(2, 0);
        }
    
        &:nth-child(5){
            @include grid-column-row-start(2, 0);
        }

        &:nth-child(8){
            @include grid-column-row-start(2, 2);
        }

        &:nth-child(9){
            @include grid-column-row-start(2, 1);
        }
    
        &:nth-child(10){
            @include grid-column-row-start(3, 0);
        }
    
        &:nth-child(11){
            @include grid-column-row-start(2, 0);
        }
    }
}

@media screen and (max-width: $pantalla-mediana){
    #galeria-grilla{
        @include flex-column;
    }
}

/* FIN GALERIA */