*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    padding-top: 106px;
}

a{
    text-decoration: none;
    color: $bg-light;
    font-family: $fuente-roboto;
    font-weight: 400;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
} 

h1{
    text-align: center;
    font-family: $fuente-roboto
}

h2{
    font-family: $fuente-roboto;
    font-weight: 400;
}

h3{
    font-family: $fuente-roboto;
    font-weight: 500;
}

p{
    font-family: $fuente-roboto;
    font-weight: 300;
}

/* ------------------------------------------------------------------------------------------- */

/* ANIMACIONES */

.botonEnviar{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    @include sizes(100%, 80px);
    background: #141414;
    color: $bg-light;
    @include font($fuente-roboto, 20px, 500);
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 5px;
    position: relative;
    overflow: hidden;

    span {
        transition: .4s ease-in-out all;
        position: absolute;
        left: 40%;
    }

    .icono {
        display: flex;
        align-items: center;
        position: absolute;
        z-index: 2;
        left: -40px;
        transition: .3s ease-in-out all;
        opacity: 0;
    }

    svg {
        color: $bg-light;
        @include sizes(35px, 35px);
    }
    
    &:hover {
        background: rgb(62, 124, 182);
    }

    &:hover .icono {
        left: calc(100% - 50px);
        opacity: 1;
    }

    &:hover span {
        left: 20px;
    }
}