/* ------------------------------------------------------------------------------------------------------------------------------------------------ */

/* INICIO SOBRE MI */
/* estilos sobre mi */
.sectionSobreMi{
    @include flex-column-align-center;
}

.contenedor-sobremi{
    @include flex-column-align-center;
    gap: 30px;

    img{
        @include sizes(600px, 300px);
    }
}

.contenedorCardPar{
    flex-direction: row-reverse;
    background-color: burlywood;
    border-radius: .5rem;

    img{
        @include radios-componente(0, .5rem, .5rem, .5rem);
    }
}

.contenedorCardImpar{
    background-color: antiquewhite;
    border-radius: .5rem;
}

.imgSobreMi{
    min-height: -webkit-fill-available;
    @include radios-componente(.5rem, .5rem, 0rem, 0rem);
}

/* queries sobre mi */
@media screen and (max-width: 992px) {
    .contenedor-sobremi{
        flex-direction: row;
    }
}

@media screen and (max-width: 767px) {
    .contenedor-sobremi {
        img{
            width: 300px;
            height: 250px;
        }

        p{
            font-size: 12px;
        }
    }

    .imgSobreMi{ 
        @include radios-componente(0, .5rem, .5rem, 0rem);
    }
    
}
/* FIN SOBRE MI */