/* Variables para colores */
$bg-light: white;
$color-primario: lightblue;
$color-secundario: lightgreen;

/* Fuentes */
$fuente-clara: grey;
$fuente-oscura: black;
$fuente-roboto: 'Roboto', sans-serif;

/* Tamaño */


/* Tamaños @mediaqueries */
$pantalla-xxl:1540px;
$pantalla-xl: 1200px;
$pantalla-grande: 992px;
$pantalla-mediana: 768px;
$pantalla-chica: 500px;